
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Alliebooks</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div>
			<div class = "row">
				<div class = "col-sm-3">
					<h2>Rent Payment List</h2>
				</div>
				
				<div class = "col-sm-2" style="margin-top:28px;">
					<a href="/rent-payments/new">New Rent Payment</a>
				</div>
				<div class = "col-sm-2" style="margin-top:22px;">
					<div  th:if="${displayDate} != null">
						<a class="nav-arrow" href="/rent-payments/down">&#8592;<!-- <img th:src="@{images/arrow-left.png}"> --></a>
						<b th:text="${displayDate}"></b>
						<a class="nav-arrow" href="/rent-payments/up">&#8594; <!-- <img th:src="@{images/arrow-right.png}"> --></a>
					</div>
				</div>
				<form id="search-form" method="get" th:action="@{/rent-payments/search}">
					<div class = "col-sm-5">
					    <input id="search-input" type="text" name="query" th:placeholder="${searchQuery}" th:value="*{query}" class="form-control" style="margin-top:20px;">
				    </div>
				</form>	
			</div>
			
			<table class="table table-striped">
				<tr>
					<th>Tenant</th>
					<th>Property/Unit</th>
					<th>Amount</th>
					<th>Date</th>
					<th>Note</th>
					<th>Check Image</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr th:each="rentPayment : ${rentPayments}">
					<td th:text="${rentPayment.tenant}" />
					<td th:text="${rentPayment.unit.property.name} + ' - ' + ${rentPayment.unit.name}" />
					<td th:text="${#numbers.formatDecimal(rentPayment.amount, 0, 'COMMA', 2, 'POINT')}" />
					<td th:text="${rentPayment.date}" />
					<td th:text="${rentPayment.note}" />
					<td><a
						th:href="@{'/fetch-image?file=' + ${rentPayment.paymentImage}}"
						th:if="${rentPayment.paymentImage}">View Image</a></td>
					<td><a th:href="${'/rent-payments/edit/' + rentPayment.id}">Edit</a></td>
					<td><a th:href="${'/rent-payments/delete/' + rentPayment.id}">Delete</a></td>
				</tr>
			</table>

		</div>
	</div>

</body>
</html>