
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Alliebooks</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body onload="summer()">

	<script>
		function summer() {
			var table = document.getElementById('monthly-expense-table');
			var total = 0;
			var monthlyTotal = 0;
			
			var rows = table.rows;
			var  checkboxes = table.getElementsByTagName("INPUT");
			for(var i = 1; i < rows.length - 1; i++) {
				var sumCell = rows[i].cells[2].innerHTML;
				if (checkboxes[i].checked) {
					total += parseFloat(sumCell.replace(/,/g,''), 10);
				}
				
				var sumCell2 = rows[i].cells[3].innerHTML;
				if (checkboxes[i].checked) {
					monthlyTotal += parseFloat(sumCell2.replace(/,/g,''), 10);
				}
			}
	    	document.getElementById('total-cell').innerHTML = total.toLocaleString(undefined, {minimumFractionDigits:2, maximumFractionDigits:2});
	    	document.getElementById('monthly-total-cell').innerHTML = monthlyTotal.toLocaleString(undefined, {minimumFractionDigits:2, maximumFractionDigits:2});

		
	    	table = document.getElementById('revenue-and-loss-table');
			var totalRev = 0;
			var totalLoss = 0;
			var totalSpread = 0;
			
			for(var i = 1; i < table.rows.length - 1; i++) {
				var revCell = table.rows[i].cells[1].innerHTML;
				totalRev += parseFloat(revCell.replace(/,/g,''), 10);
				
				var lossCell = table.rows[i].cells[2].innerHTML;
				totalLoss += parseFloat(lossCell.replace(/,/g,''), 10);
				
				var spreadCell = table.rows[i].cells[3].innerHTML;
				totalSpread += parseFloat(spreadCell.replace(/,/g,''), 10);
			}
			setFormattedValue(totalRev, 'total-revenue');
			setFormattedValue(totalLoss, 'total-loss');
	    	setFormattedValue(totalSpread, 'total-spread');
		}
		
		function setFormattedValue(f, elementId) {
			document.getElementById(elementId).innerHTML = f.toLocaleString(undefined, {minimumFractionDigits:2, maximumFractionDigits:2});
			if (f < 0) {
	    		document.getElementById(elementId).style.color = 'red';
	    	}
		}
		
		function checkAll() {
			var table = document.getElementById('monthly-expense-table');
			var checkboxes = table.getElementsByTagName("INPUT");
			
			for(var i = 1; i < table.rows.length - 1; i++) {
				checkboxes[i].checked = checkboxes[0].checked;
			}
		}
	</script>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div class="row">
			<div class="col-sm-8">
				<h2>Annual Revenue and Loss by Property</h2>
			</div>

			<div class = "col-sm-2" style="margin-top:22px;">
					<div  th:if="${displayDate} != null">
						<a class="nav-arrow" href="/reports/down">&#8592;<!-- <img th:src="@{images/arrow-left.png}"> --></a>
						<b th:text="${displayDate}"></b>
						<a class="nav-arrow" href="/reports/up">&#8594; <!-- <img th:src="@{images/arrow-right.png}"> --></a>
					</div>
				</div>
		</div>

		<table id="revenue-and-loss-table" class="table table-striped">
			<tr>
				<th>Property</th>
				<th>Revenue</th>
				<th>Total Expenses</th>
				<th>Profit/Loss</th>
			</tr>
			<tr th:each="rl : ${revenueAndLoss}">
				<td th:text="${rl.propertyName}" />
				<td th:text="${#numbers.formatDecimal(rl.revenue, 0, 'COMMA', 2, 'POINT')}" />
				<td th:text="${#numbers.formatDecimal(rl.expenses, 0, 'COMMA', 2, 'POINT')}" />
				<td th:style="${rl.spread < 0} ? ${'color: red;'}" th:text="${#numbers.formatDecimal(rl.spread, 0, 'COMMA', 2, 'POINT')}"></td>
			</tr>
			<tr id = "total-row">
				<td />
				<td id="total-revenue">0</td>
				<td id="total-loss">0</td>
				<td id="total-spread">0</td>
			</tr>
		</table>
		
		<p /><hr />
		
		<h2>Annual Expenses by Property</h2>

		<table id="monthly-expense-table" class="table table-striped">
			<tr id = "title-row">
				<th>Property</th>
				<th>Type</th>
				<th>Amount</th>
				<th>12m Average</th>
				<th><input type="checkbox" id="allCheckBox" checked onclick="checkAll()"/> Total</th>
			</tr>
			<tr id="content-row" th:each="ex : ${expenseByProperty}">
				
				<td th:text="${ex.propertyName}" />
				<td th:text="${ex.expenseTypeName}" />
				<td th:text="${#numbers.formatDecimal(ex.amount, 0, 'COMMA', 2, 'POINT')}" />
				<td th:text="${#numbers.formatDecimal(ex.average, 0, 'COMMA', 2, 'POINT')}" />
				<td><input type="checkbox" id="box" checked onclick="summer()"/></td>
			</tr>
			<tr id = "total-row">
				<td />
				<td />
				<td id="total-cell">0</td>
				<td id="monthly-total-cell">0</td>
				<td />
			</tr>
		</table>
		
	</div>

</body>
</html>